<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<title>IDW</title>
</head>
<body>

	<div id="app">
		{{ message }}
	</div>	

<script type="text/javascript" src="../app.js"></script>
</body>
</html>